language: haxe

haxe:
  - development
  - 3.2.1

os:
  - linux
  - osx

sudo: false
addons:
  apt:
    packages:
      # C++ (for rebuilding hxcpp)
      - gcc-multilib
      - g++-multilib

install:
  - if [ "${TRAVIS_HAXE_VERSION}" = "development" ]; then
      haxelib git hxcpp https://github.com/HaxeFoundation/hxcpp.git;
      pushd $(haxelib path hxcpp | head -1);
        pushd tools/hxcpp; haxe compile.hxml; popd;
        pushd project; neko build.n; popd;
      popd;
    else
      haxelib install hxcpp;
    fi
  - haxelib dev hxcpp-debugger .
  - haxelib list

script:
  # Type check all modules in the debugger package.
  - haxe -cpp bin --no-output --macro 'include("debugger")'
  # Compile debugger.HaxeServer.
  - haxe -cpp bin -main debugger.HaxeServer
